+++
title = "CKI Project"
+++

{{< blocks/cover title="Continuous Kernel Integration (CKI) Project" height="full" >}}
<div class="mx-auto">
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
        Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
    </a>
    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://gitlab.com/cki-project">
        See The Code <i class="fab fa-gitlab ml-2 "></i>
    </a>
    <p class="lead mt-5 font-weight-bold">Finding kernel bugs before they hit your distribution</p>
    {{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead %}}
{{< param "mission" >}}
{{% /blocks/lead %}}


{{% blocks/section type="section" %}}
<div class="container">
{{< param "about" >}}
</div>
{{% /blocks/section %}}


{{< blocks/section >}}
{{% blocks/feature icon="fas fa-chart-line" title="See CKI test results" url_text="Visit DataWarehouse" url="https://datawarehouse.cki-project.org" %}}
Check out the kernel test results dashboard and database!
{{% /blocks/feature %}}
{{% blocks/feature icon="fab fa-gitlab" title="Contributions welcome!" url_text="Visit GitLab" url="https://gitlab.com/cki-project" %}}
We do a [Merge Request](https://gitlab.com/groups/cki-project/-/merge_requests) contributions workflow on **GitLab**. New users are always welcome!
{{% /blocks/feature %}}
{{% blocks/feature icon="fas fa-file" title="Documentation" url_text="Visit Documentation" url="/docs" %}}
Read our documentation to understand how you can benefit from the project and start contributing.
{{% /blocks/feature %}}
{{% /blocks/section %}}
